spring.application.name=spring-rag-demo

# PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/rag_demo
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD

# LM Studio - Embedding
spring.ai.openai.base-url=http://127.0.0.1:1234
spring.ai.openai.api-key=sk-no-key-required
spring.ai.openai.embedding.options.model=text-embedding-nomic-embed-text-v2-moe
spring.ai.openai.embedding.options.dimensions=768

# Groq API - Chat
spring.ai.openai.chat.base-url=https://api.groq.com/openai
spring.ai.openai.chat.api-key=YOUR_GROQ_API_KEY
spring.ai.openai.chat.options.model=llama-3.1-8b-instant
spring.ai.openai.chat.options.temperature=0
spring.ai.openai.chat.options.max-tokens=80

# PgVector
spring.ai.openai.embedding.options.input-type=query
spring.ai.vectorstore.pgvector.index-type=HNSW
spring.ai.vectorstore.pgvector.distance-type=COSINE_DISTANCE
spring.ai.vectorstore.pgvector.dimensions=768
spring.ai.vectorstore.pgvector.max-document-batch-size=10000
spring.ai.vectorstore.pgvector.schema-validation=false
spring.ai.vectorstore.pgvector.initialize-schema=true
spring.ai.vectorstore.pgvector.table-name=vector_store